/*-- @component NOTIFICATION -- */

.body-with-notification {
  padding-top: 55px;
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: #fff;
    padding: 15px;              
    text-align: center;
    font-size: 15px;
    box-shadow: 0 5px 0 0px rgba(0, 0, 0, 0.09);
    .button {
      background: #f24831;
      text-decoration: none;
      padding: 8px 10px;
      border-radius: 4px;
      margin-left: 8px;
      font-weight: bold;
      white-space: nowrap;
      &:hover {
        background: darken(#f24831, 8%);
      }
      &:active {
        background: darken(#f24831, 12%);
      }
    }
}

/*-- @component HEADER -- */

.page-header {
  @extend .cf; 
  position: relative;
  background:#000 url("../images/header.png") repeat-y top center;
  h1 {
    width: 23.636363636%;
    float: left;
    padding: 35px 0;
  }
}

.mobile-logos {
  display: none;
  float: left;
  padding-top: 10px;   
  width: 30%;
  img {
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    height: 36px;
  }
}

.page-nav {
  float: left;
  width: 55.727272728%;
  padding-top: 25px;
  a {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 900;
  }
  li {
    display: inline-block;
    width: 30%;
  }
  ul {
    display: block;
  }
}

.menu-toggle {
  display: none;
  @extend .btn;
  color: #000;
  background: #fff;
  padding: 10px 15px 10px 50px;
  position: relative;
  clear: both;
  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left:15px;
    width:16px;
    height:2px;
    border-top: 8px double #000;
    border-bottom: 3px solid #000;
    color: #000;
  }
  &:hover {
    background-color: #fff;
  }

}

.partners {
  float: right;
  padding: 35px 0;
  display: block;
  width: 20.636363636%;
  font-family: "brandon-grotesque", sans-serif;
  color: #aaaaaa;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  vertical-align: top;
  p {
    vertical-align: top;
    &:first-child {
      padding-bottom: 5px;
      img {
        margin-top: -10px;
      }
    }
  }
  img {
    display: inline-block;
    padding-left: 10px;
  }
}

/* -- @component SECTIONS -- */

#liftoff, #challenges {
  background-repeat: no-repeat;
  background-position: bottom center;
}

#liftoff, #challenges, #schedule {
  -webkit-translate: translateZ(0);
}

#liftoff{
  background-image: url("../images/clouds.jpg");
}

#challenges {
  background-image: url("../images/city.jpg");
  margin-top: -40px;
  hr {
    margin: 50px;
  }
  .row {
    margin-bottom: 40px;
  }
}

#schedule, #press, #youth, #live {
  background-image: url("../images/rocket.png");
  background-repeat: no-repeat;
  background-position: center top;
}

#about {
  background-image: url("../images/rom.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

#sponsors {
  background-image: url("../images/rom_bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

#sponsors .row {
  margin-top: 40px;
}

#youth-challenges {
  h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

#judges .row {
  width: 60%;
  margin: 0 auto;
}

#vote {
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin-top: 20px;
  }
}

/* -- @component EVENT INFO -- */

.event-info {
  padding-bottom: 50px;
  a {
    text-decoration: none;
  }
}

.winner {
  background:#000;
  border-radius: 10px;
  padding: 20px;
  text-align: left;

  h3 {
    font-size: 18px;
    font-family: "brandon-grotesque", sans-serif;
    span {
      color: #999;
      padding-right: 8px;
    }
  }
}

.event-detail {
  
  @extend %well;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  &.date {
    background-image: url("../images/calendar.png");
  }
  &.location {
    background-image: url("../images/location.png");
  }

}

.white .event-info {
  color: #fff;
}

/* @component REGISTER */

.register {
  text-align: center;
  margin-top: -40px;
  .btn-primary {
    width: 49%;
    &:last-child {
      float: right;
    }
  }
}

/* -- @component CHALLENGES -- */

.challenges {
  @extend .cf;
  margin: 70px 0;
}

.challenge {
  @extend %well;
  text-align: left;
  background-image: url("../images/star.png");
  background-position: 15px;
  &.challenge-winner {
    background-image: none;
    padding-left: 30px;
    span {
      font-size: 14px;
      color: #999;
      display: inline-block;
      padding-right: 10px;
    }
  }
}

/* -- @component SCHEDULE -- */

.schedule {
  margin-top: 60px;
  h3 {
    text-align: left;
  }
}

.schedule-table {
  width: 100%;
  text-align: left;
  th[scope="col"] {
    border-bottom: 1px solid rgba(255,255,255,0.6);
    padding-bottom: 10px;
    color: #fff;
    margin-bottom: 10px;
  }
  th {
    width: 30%;
    color: rgba(255,255,255, 0.5);
    font-weight: 300;
  }
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#youth-schedule .schedule-table {
  margin-bottom: 30px;
}

/* -- @component FAQS -- */

.faqs {
  list-style: none;
  margin-bottom: 45px;
  li {
    margin-bottom: 15px;
  }
  .faq-q {
    display: block;
    padding-bottom: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    &:after {
      width: 0; 
      height: 0; 
      border-style: solid; 
      border-width: 10px 10px 0 10px;
      border-color: #3b3b3b transparent transparent transparent;
      content: " ";
      position: absolute;
      right: 0; 
      top: 10px;
    }
  }
  .faq-a {
    display: none;
    margin-top: 15px;
    color: #b6b6b6;
  }
}

/* -- @component TWEET -- */

.conversation {
  @extend .cf;
  margin-bottom: 50px;
  h4 {
    margin-bottom: 25px;
    font-weight: 300;
  }
  .time {
    margin-top: 10px;
    color: #aaa;
  }
}


/* -- @component FOTTER -- */

.page-footer {
  padding: 30px;
  font-size: 16px;
  a {
    text-decoration: none;
  }
}

.footer-nav {
  li {
    display: inline-block;
    padding-right: 45px;
  } 
}

/* -- @component ORGANIZER -- */

.organizer {
  margin-bottom: 20px;
  img {
    display: block;
  }
  header {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255, 0.25);
  }
  h3 {
    font-size: 40px;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  h4 {
    font-size: 16px;
    line-height: 1.3;
  }
  p {
    margin-bottom: 15px;
  }
  .btn-small {
    background: #a3a3a3;
    padding: 11px 50px;
    margin-top: 10px;
    &:hover {
      background: darken(#a3a3a3, 10%);
    }
  }
  &.pull-l {
    clear: both;
  }
  .grid-11 a {
    text-decoration: underline;
  }
  .more {
    display: none;
    padding-top: 15px;
  }
}

.organizer-img {
  position: relative;
  display: block;
  &:after {
   -webkit-transition: all 2s linear;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 103px;
    content: "";
  }
  span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
  &:hover:after {
     -webkit-transition: all 2s linear;     
      content: "i";
      background:rgba(0,0,0,0.7);
      color: #fff;
      text-align: center;
      padding-top: 35px;
      font-size: 70px;
      font-family: "Georgia", "Times New Roman", serif;
      font-style: italic;
      font-weight: bold;
  }
}

.modal {
  display: none;
}


/* -- @component MENTOR /JUDGE -- */
.mentor, .judge {
  @extend .organizer;
}

.mentor-img, .judge-img {
  @extend .organizer-img;
  text-align: center;
  img {
    text-align: center;
    display: inline-block;
  }
}

.judge-img {
  width: 170px;
  &:hover:after {
    height: 135px;
  }
}

/* -- @component SPONSORS -- */

.sponsor {
  display: block;
  position: relative;
  span {
    display: block;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    a {
      color: #fff;
    }
  }
}

.white .sponsor {
  span {
    color: #000;
  }
}

#sponsors-page{
  .row + .row {
    margin-top: 20px;
  }
  .row .grid-6 {
    text-align: center;
  }
}

/* -- @component PRESS -- */

.press .btn-small {
  width:90%;
}

.press {
  text-align: left;
  /* -- @component ARTICLE -- */
  article {
    margin-bottom: 40px;
    a {
      font-family: "brandon-grotesque", sans-serif;
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      position: relative;
      &:after {
        position: absolute;
        width: 24px;
        height: 27px;
        right: 0;
        top: 0;
        background-image: url(../images/arrow-right.png);
        background-repeat: no-repeat;
        background-position: top left;
        content: " " ;
      }
      &:hover:after {
        background-position: bottom left;
      }
    }
    footer {
      font-family: "proxima-nova";
      font-size: 18px;
      text-transform: none;
      margin-top: 10px;
      span {
        color: rgba(255,255,255,0.6);
      }
    }
  }
  blockquote {
    width: 90%;
    line-height: 1.3;
    &:before {
      position: absolute;
      left: -20px;
      content: "\201C";
      top: -10px;
      color: #fff; 
      width: 20px; 
      height: 20px;
      font-size: 36px;
    }
    
  }
}

#page-mini {
  padding: 20px;
  h2 {
    margin-bottom: 20px;
  }
}

.main-site-link {
  padding-top: 60px;
  display: block;
}

.mobile-nav {
  list-style: none;
  @extend .callout;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
  }
}

.info-list {
  list-style: none;
  margin-bottom: 20px;
  strong {
    display: inline-block;
    padding-right: 10px;
  }
}

.schedule-table-mobile {
  font-size: 15px;
  width: 100%;
  margin: 20px 0;
  td, th {
    padding: 5px;
    border: 1px solid #999;
  }
}

#live {
  padding: 60px 0;
  h2 {
    margin-bottom: 20px;
  }
  h4 {
    font-size: 22px;
  }
  object {
    max-width: 100%;
    & + a {
      width: 100%!important;
      padding-top: 20px!important;
      font-size: 18px!important;
    }
  }
}

#mc_embed_signup {
  width: 50%;
  margin: 0 auto;
  form {
    position: relative;
  }
  input[type="email"] {
    font-size: inherit;
    font-family: inherit;
    background: #000000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 4px solid #3b3b3b;
    border-radius: 50px;
    padding: 10px 30px 11px 30px;
    color: #ccc;
    -webkit-transition: background-color 0.1s linear;
    &:focus {
      outline: none;
      background-color: #222;
      -webkit-transition: background-color 0.1s linear;
    }
  }
  .circle {
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #888;
    border-radius: 50px;
    width: 52px;
    height: 52px;
     cursor: pointer;
    -webkit-transition: background-color 0.2s linear;
    &:hover {
      border-color: #fff;
      -webkit-transition: background-color 0.2s linear;
    }
  }
  input[type="submit"]{
    @extend .circle;
    background-color: $red;
    background-image: url("../images/check.png");
    border-color: #f79b8b;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 6px;
    top: 7px;
    &:hover {
      background-color: $red;
    }
  }

}


.mention {
  color: $red!important;
  display: block;
  text-transform: uppercase;
  padding-top: 15px;
}