@media screen and (max-width: 1140px) {
  #liftoff {
    padding-bottom: 70px;
  }
  .callout {
    width: 70%;
  }
  body > section {
    padding: 50px 0;
  }
  h2 {
    margin-bottom: 40px;
  }
  .grid-8:first-child {
    margin-bottom: 50px;
  }
  .container {
    width: 90%;
    & > [class^="grid"], .schedule .grid-6, .organizer {
      width: 100%!important;
      margin-left: 0!important;
    }
  }
  .schedule .grid-6 {
    margin-bottom: 20px;
  }
  .footer-nav li {
    display: block;
  }
  .page-nav {
    padding-top: 20px;
    ul {
      text-align: center;
    }
    li {
      width: 40%;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .page-header {
    padding-bottom: 20px;
  }
  .page-header h1, .nasa-partner {
    width: 50%;
    padding: 20px 0;
    img {
      max-width: 100%;
    }
  }
  .nasa-partner {
    float: right;
  }
  .page-nav {
    width: 100%;
    float: none;
    ul {
      display: none;
      padding-top: 20px;
    }
  }
  [class^="grid"] {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .sponsor span {
    font-style: 12px;
  }
  .event-detail, .btn-small {
    margin-bottom: 20px;
  }
  .organizer .btn-small {
    padding: 11px 30px;
  }
  .callout {
    width: 100%;
  }
  .callout header .number {
    float: none;
  }
  .challenge {
    width: 100%;
    margin-left: 0;
  }
 
}