/* @group CSS Reset
----------------------------------------------- */
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* @group Mixins
----------------------------------------------- */
.page-header .container, .page-footer .container, .main .container, .grid, .grid-half, .grid-third {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cf, .page-header .container, .page-footer .container, .main .container, .graphic-row {
  clear: both; }
  .cf:before, .page-header .container:before, .page-footer .container:before, .main .container:before, .graphic-row:before, .cf:after, .page-header .container:after, .page-footer .container:after, .main .container:after, .graphic-row:after {
    content: "";
    display: table; }
  .cf:after, .page-header .container:after, .page-footer .container:after, .main .container:after, .graphic-row:after {
    clear: both; }

/* @group Variables
----------------------------------------------- */
/*  Layout  */
/*  Theme Colours  */
/*  Typography  */
/* @group Global
----------------------------------------------- */
body {
  margin: 0;
  background: #1d2228 url(../images/background.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed; }

.center {
  text-align: center; }

/* @group Typography
----------------------------------------------- */
body {
  color: #707b83;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px; }

a {
  color: #f25337;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s; }
  a:hover {
    color: #f8a597;
    text-decoration: none; }
  a img {
    border: none; }

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: "brandon-grotesque", sans-serif; }

h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0; }

h2 {
  color: #f25337;
  font-size: 1.9em;
  margin: 0.5em 0 1em; }

ul, li {
  margin: 0;
  padding: 0; }

p {
  margin: 0.5em 0 1.5em;
  line-height: 1.8;
  font-size: 1.05em; }

p.full {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto; }

textarea, input, button, .btn, select {
  color: #707b83;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: inherit;
  outline: none; }

/* @group Layout
----------------------------------------------- */
.page-header .container, .page-footer .container, .main .container {
  width: 90%;
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

.grid {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-bottom: 1em; }

.grid-narrow {
  width: 30%; }

.grid-wide {
  width: 70%;
  padding-right: 75px; }

.grid-half {
  width: 48%;
  display: inline-block;
  vertical-align: top; }
  .grid-half:nth-of-type(2n - 1) {
    margin-right: 4%;
    clear: left; }

.grid-third {
  width: 33.33%;
  display: inline-block;
  vertical-align: top; }

/* @group Forms
----------------------------------------------- */
input.email {
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.24), inset 0 2px 0 0 rgba(0, 0, 0, 0.27);
  width: 40%; }

.button {
  padding: 12px 16px 11px;
  border-radius: 50px;
  border: 1px solid #9f4545;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.39), inset 0 1px 0 0 rgba(255, 255, 255, 0.41), 0 0 0 2px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: -webkit-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: -o-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: -ms-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: linear-gradient(to bottom, #ff6f55 0%, #dc4328 100%);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }
  .button:hover {
    background-image: -moz-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: -webkit-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: -o-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: -ms-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: linear-gradient(to bottom, #ff7c64 0%, #de4f35 100%); }
  .button:active {
    background-image: -moz-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: -webkit-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: -o-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: -ms-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: linear-gradient(to bottom, #ec6048 0%, #dc4328 100%);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.19); }

#mc-embedded-subscribe-form {
  text-align: center; }

#mc-embedded-subscribe {
  margin-left: -107px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.39), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  font-size: 13px; }

#mce-EMAIL {
  padding-right: 115px; }

/* @group Hero Backdrop
----------------------------------------------- */
#hero .container {
  position: relative; }

.space-junk {
  position: fixed;
  z-index: -2; }

/* @group Components
----------------------------------------------- */
/*-- @component HEADER -- */
.page-header {
  padding: 50px 0 20px; }
  .page-header .logo {
    float: left; }
  .page-header .social-icons {
    margin-top: 22px; }

.page-nav ul {
  float: left;
  margin: 25px 0 0 50px; }
.page-nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em; }
.page-nav a {
  padding: 25px;
  color: #7d8188;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  .page-nav a.active, .page-nav a:hover {
    color: #fff; }
  .page-nav a.dropdown.active {
    color: #f25337; }

.menu-toggle {
  display: none; }

/*-- @component FOOTER -- */
.page-footer {
  padding: 0 0 60px; }
  .page-footer .social-icons {
    line-height: 40px; }

.attributions {
  float: left;
  font-size: 0.9em; }
  .attributions a {
    vertical-align: top;
    line-height: 40px;
    margin-right: 15px; }
  .attributions a:hover img {
    opacity: 1; }
  .attributions img {
    margin-left: 5px;
    opacity: 0.4;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }

.separator {
  text-align: center;
  margin-bottom: 30px; }
  .separator .leaf {
    display: inline-block;
    background: url(../images/leaf-small-dark.png) no-repeat center;
    height: 30px;
    width: 30px; }
    .separator .leaf:before, .separator .leaf:after {
      background: rgba(78, 79, 82, 0.2);
      display: block;
      height: 1px;
      content: " ";
      width: 48%;
      position: absolute;
      left: 0;
      top: 12px; }
    .separator .leaf:after {
      right: 0;
      left: auto; }

/*-- @component SECTION -- */
section {
  padding: 40px 0; }

.white-section {
  background: #fff; }

.transparent-section {
  color: #fff; }
  .transparent-section h2 {
    color: #fff; }
  .transparent-section p {
    color: #cccccc; }
  .transparent-section .subtitle {
    color: #fff;
    font-size: 1.1em; }
  .transparent-section a {
    color: #7c868d;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .transparent-section a:hover {
      color: #fff; }
  .transparent-section a.button {
    color: #fff; }
  .transparent-section .cta {
    margin: 1em 0 0.5em;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif; }

/*-- Homepage Hero -- */
.main-headline {
  float: left;
  font-weight: normal;
  margin-bottom: 1.3em; }

/*-- Homepage Graphics -- */
.graphic-row {
  margin: 30px 0; }
  .graphic-row .description {
    margin: 0 180px; }
  .graphic-row p {
    font-size: 1.1em; }
  .graphic-row h2 {
    margin: 0 0 0.4em; }
  .graphic-row.reg img {
    float: left; }
  .graphic-row.reg .description {
    margin-right: 0; }
  .graphic-row.alt img {
    float: right; }
  .graphic-row.alt .description {
    margin-left: 0; }

/*-- Sponsors Hero -- */
.buttons {
  margin: 3em 0 2em; }
  .buttons .button {
    margin: 0 5px; }

/*-- Last Section -- */
.extra-links {
  padding-bottom: 15px; }
  .extra-links .grid p {
    color: #fff; }

/* -- @component SOCIAL ICONS -- */
.social-icons {
  float: right; }
  .social-icons a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    -webkit-transition: background-position 0.4s;
    -moz-transition: background-position 0.4s;
    -ms-transition: background-position 0.4s;
    -o-transition: background-position 0.4s;
    transition: background-position 0.4s; }
    .social-icons a:hover {
      background-position: 0 -20px; }
  .social-icons .email {
    background: url(../images/social-email.png); }
  .social-icons .twitter {
    background: url(../images/social-twitter.png); }
  .social-icons .facebook {
    background: url(../images/social-facebook.png); }
  .social-icons .googleplus {
    background: url(../images/social-googleplus.png); }

/* -- @component COUNTER -- */
.counter-wrapper {
  float: right;
  background: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 15px 13px;
  text-align: center; }
  .counter-wrapper .legend {
    font-size: 0.8em; }

.counter {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 13px;
  color: #272c33; }
  .counter .number {
    float: left;
    line-height: 65px;
    font-family: "pt-sans-narrow", sans-serif;
    font-size: 2.3em;
    width: 325px; }
    .counter .number strong {
      color: #fff; }
  .counter .units {
    float: right;
    line-height: 65px;
    border-left: 3px solid #272c33;
    width: 60px;
    font-size: 1.3em; }

/* -- @component TESTIMONIAL -- */
.testimonial {
  margin-top: 2.5em; }

.photo {
  float: left;
  margin-top: 10px; }
  .photo + cite {
    margin-left: 100px; }

.quote {
  line-height: 1.8em;
  font-style: italic;
  color: #707b83;
  margin-bottom: 30px; }

.transparent-section .quote {
  color: #fff; }

cite {
  display: block;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.8em;
  line-height: 1.6;
  text-transform: uppercase;
  font-style: normal;
  color: #b2b7bb; }

.transparent-section cite {
  color: #7c868d; }

/* -- @component STATS -- */
.stats li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  color: #626f78;
  line-height: 1.2em;
  font-weight: bold;
  font-size: 0.9em;
  width: 230px;
  text-align: left;
  font-family: "brandon-grotesque", sans-serif;
  margin-bottom: 20px; }
.stats .stat {
  margin-left: 90px;
  padding-top: 15px; }
.stats .icon {
  float: left;
  padding: 15px;
  border: 2px solid #f25337;
  border-radius: 200px;
  margin-right: 10px; }
