
/* @group CSS Reset
----------------------------------------------- */

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* @group Mixins
----------------------------------------------- */

@mixin gradient-v($start, $end) {
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: -o-linear-gradient(top, $start 0%, $end 100%);
  background-image: -ms-linear-gradient(top, $start 0%, $end 100%);
  background-image: linear-gradient(to bottom, $start 0%, $end 100%);
}
@mixin gradient-v-stop($start, $end, $stop, $stopdistance: 50%) {
  background-image: -moz-linear-gradient(top, $start 0%, $stop $stopdistance, $end 100%);
  background-image: -webkit-linear-gradient(top, $start 0%, $stop $stopdistance, $end 100%);
  background-image: -o-linear-gradient(top, $start 0%, $stop $stopdistance, $end 100%);
  background-image: -ms-linear-gradient(top, $start 0%, $stop $stopdistance, $end 100%);
  background-image: linear-gradient(to bottom, $start 0%, $stop $stopdistance, $end 100%);
}

@mixin transition($transition...) {  
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: url($image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url($x2img);
    background-size: $w $h;
  }  
}

%box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%clear {
  clear: both;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.cf {
  @extend %clear;
}


/* @group Variables
----------------------------------------------- */

/*  Layout  */
$contentwidth: 1000px;
$contentpadding: 20px;

/*  Theme Colours  */
$darkblue: #1d2228;
$textblue: #272c33;
$bluegrey: #7c868d;
$red: #f25337;
$lightbluegrey: #707b83;
$grey: #ccc;

/*  Typography  */
$textcolor: $lightbluegrey;
$linkcolor: $red;
$linkhover: lighten($linkcolor, 20);

$fancyFont: 'brandon-grotesque', sans-serif;
$mainFont: 'Quattrocento Sans', sans-serif;
$narrowFont: 'pt-sans-narrow', sans-serif;


/* @group Global
----------------------------------------------- */

body {
  margin: 0;
  background: $darkblue url(../images/background.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.center {
  text-align: center;
}

/* @group Typography
----------------------------------------------- */
body {
  color: $textcolor;
  font-family: $mainFont;
  font-size: 16px;
}
a {
  color: $linkcolor;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  img {
    border: none;
  }
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: $fancyFont;
}
h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0;
}
h2 {
  font-size: 1.9em;
  margin: 0.5em 0 1em;
}
ul, li {
  margin: 0;
  padding: 0;
}
p {
  margin: 0.5em 0 1.5em;
  line-height: 1.8;
  font-size: 1.05em;
}
p.full {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
textarea, input, button, .btn, select {
  color: $textcolor;
  font-family: $mainFont;
  font-size: inherit;
  outline: none;
}

/* @group Layout
----------------------------------------------- */

.page-header .container, .page-footer .container, .main .container {
  width: 90%;
  padding: 0 $contentpadding;
  max-width: $contentwidth;
  margin: 0 auto;
  position: relative;
  @extend %box-sizing;
  @extend %clear;
}

.grid {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  @extend %box-sizing;
  margin-bottom: 1em;
}

.grid-narrow {
  width: 30%;
}
.grid-wide {
  width: 70%;
  padding-right: 75px;
}
.grid-half {
  width: 48%;
  @extend %box-sizing;
  display: inline-block;
  vertical-align: top;
  &:nth-of-type(2n - 1) {
    margin-right: 4%;
    clear: left;
  }
}
.grid-third {
  width: 33.33%;
  @extend %box-sizing;
  display: inline-block;
  vertical-align: top;
}

/* @group Forms
----------------------------------------------- */

input.email {
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(#fff, 0.24), inset 0 2px 0 0 rgba(#000, 0.27);
  width: 400px;
  @extend %box-sizing;
}
.button {
  padding: 12px 20px 11px;
  border-radius: 50px;
  border: 1px solid #9f4545;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.39), inset 0 1px 0 0 rgba(255, 255, 255, 0.41), 0 0 0 2px rgba(#000, 0.2);
  @include gradient-v(#ff6f55, #dc4328);
  color: #fff;
  text-shadow: 0 1px 1px rgba(#000, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  @include transition(box-shadow 0.2s);
  &:hover {
    @include gradient-v(lighten(#ff6f55, 3), lighten(#dc4328, 3));
  }
  &:active {
    @include gradient-v(#EC6048, #dc4328);
    box-shadow: inset 0 2px 2px 0 rgba(#000, 0.19);
  }
}
#mc-embedded-subscribe-form {
  text-align: center;
  white-space: nowrap;
}
#mc-embedded-subscribe {
  margin-left: -115px;
  box-shadow: 0 2px 2px 0 rgba(#000, 0.39), inset 0 1px 0 0 rgba(#fff, 0.41);
  font-size: 13px;
}
#mce-EMAIL {
  padding-right: 115px;
}

.thank-you {
  display: none;
  text-align: center;
  background: rgba(#fff, 0.05);
  padding: 15px 5px;
  border-radius: 10px;
  h2 {
    font-weight: normal;
    margin: 0;
    color: $grey;
  }
  p {
    margin: 7px 0 0;
  }
}


/* @group Hero Backdrop
----------------------------------------------- */

#hero {
  .container {
    position: relative;
  }
}

.space-junk {
  position: fixed;
  z-index: -2;
}



/* @group Components
----------------------------------------------- */

/*-- @component HEADER -- */

.page-header {
  padding: 50px 0 20px;
  .logo {
    float: left;
  }
  .social-icons {
    margin-top: 22px;
  }
}

.menu-toggle {
  display: none;
  margin: 50px -20px 0;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 15px 10px 50px;
  position: relative;
  clear: both;
  &:before {
    content: "";
    position: absolute;
    top: 11px;
    left:15px;
    width:16px;
    height:2px;
    border-top: 8px double #fff;
    border-bottom: 3px solid #fff;
    color: #fff;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.page-nav {
  ul {
    float: left;
    margin: 0 0 0 50px;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  a, span {
    display: block;
    margin: 5px;
    padding: 20px;
    color: #7d8188;
    font-weight: bold;
    cursor: pointer;
    @include transition(color 0.2s);
    &.active {
      color: #fff;
    }
    &:hover {
      color: $red;
    }
    &.dropdown.active {
      color: $red;
    }
  }
  
  .menu-toggle {
    display: none;
  }
}
.dropdown ul {
  display: none;
}
.dropdown.active {
  position: relative;
  z-index: 10;
  background: rgba(#000, 0.2);
  border-radius: 5px 5px 0 0;
  & > span {
    color: $red;
  }
  ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 64px 0 0;
    width: 100%;
    li {
      display: block;
      &:last-of-type a {
        border-radius: 0 0 5px 5px;
        border-top: 1px solid rgba(#fff, 0.05);
      }
    }
    a {
      padding: 20px;
      color: #fff;
      margin: 0;
      background: rgba(#15181a, 0.98);
      @extend %box-sizing;
      &:hover {
        background: #000;
      }
    }
  }
  .sub {
    padding-top: 5px;
    text-transform: initial;
    color: $bluegrey;
  }
}



/*-- @component FOOTER -- */

.page-footer {
  padding: 0 0 60px;
  .social-icons {
    line-height: 40px;
  }
}

.attributions {
  float: left;
  font-size: 0.9em;
  a {
    vertical-align: top;
    line-height: 40px;
    margin-right: 15px;
  }
  a:hover img {
    opacity: 1;
  }
  img {
    margin-left: 5px;
    opacity: 0.4;
    @include transition(opacity 0.2s);
  }
}

.separator {
  text-align: center;
  margin-bottom: 30px;
  .leaf {
    display: inline-block;
    background: url(../images/leaf-small-dark.png) no-repeat center;
    height: 30px;
    width: 30px;

    &:before, &:after {
      background: rgba(#4e4f52, 0.2);
      display: block;
      height: 1px;
      content: " ";
      width: 48%;
      position: absolute;
      left: 0;
      top: 12px;
    }
    &:after {
       right: 0;  
       left: auto; 
    }
  }
}

/*-- @component SECTION -- */

section {
  padding: 40px 0;
}

.white-section {
  background: #fff;
  h1, h2 {
    color: $red;
  }
  .button {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.41), 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    &:active {
      box-shadow: inset 0 2px 2px 0 rgba(#000, 0.19);
    }
  }
  .cta {
    margin: 1em 0 0.5em;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    font-family: $fancyFont;
    line-height: 1.3;
    margin-top: 2.6em;
    a {
      vertical-align: top;
      margin-left: 12px;
      display: inline-block;
      margin-top: -9px;
    }
  }
}

.transparent-section {
  color: #fff;
  h2 {
    color: #fff;
  }
  p {
    color: $grey;
  }
  .subtitle {
    color: #fff;
    font-size: 1.1em;
  }
  a {
    color: $bluegrey;
    @include transition(color 0.2s);
    &:hover {
      color: #fff;
    }
  }
  a.button {
    color: #fff;
  }
  .cta {
    margin: 1em 0 0.5em;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-family: $fancyFont;
  }
}

/*-- Homepage Hero -- */

.main-headline {
  float: left;
  font-weight: normal;
  margin-bottom: 1.3em;
}

/*-- Homepage Graphics -- */

.graphic-row {
  @extend %clear;
  margin: 30px 0;

  .description {
    margin: 0 180px;
  }
  p {
    font-size: 1.1em;
  }
  h2 {
    margin: 0 0 0.4em;
  }

  &.reg {
    img { float: left; }
    .description { margin-right: 0; }
  }
  &.alt {
    img { float: right; }
    .description { margin-left: 0; }
  }
}


/*-- Sponsors Hero -- */

.buttons {
  margin: 3em 0 2em;
  .button {
    margin: 0 5px;
  }
}


/*-- Last Section -- */

.extra-links {
  padding-bottom: 15px;
  text-align: center;
  .grid p {
    color: #fff;
  }
}

/* -- @component SOCIAL ICONS -- */
.social-icons {
  float: right;
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    @include transition(background-position 0.4s);
    &:hover {
      background-position: 0 -20px;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
  .email {
    background: url(../images/social-email.png);
  }
  .twitter {
    background: url(../images/social-twitter.png);
  }
  .facebook {
    background: url(../images/social-facebook.png);
  }
  .googleplus {
    background: url(../images/social-googleplus.png);
  }
}


/* -- @component COUNTER -- */
.counter-wrapper {
  float: right;
  background: rgba(#fff, 0.05);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 15px 13px;
  text-align: center;
  .legend {
    font-size: 0.8em;
  }
}
.counter {
  background: rgba(#fff, 0.07);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 13px;
  color: $textblue;
  .number {
    float: left;
    line-height: 65px;
    font-family: $narrowFont;
    font-size: 2.3em;
    width: 325px;
    strong {
      color: #fff;
    }
  }
  .units {
    float: right;
    line-height: 65px;
    border-left: 3px solid $textblue;
    width: 60px;
    font-size: 1.3em;
  }
}

/* -- @component TESTIMONIAL -- */
.testimonial {
  padding-top: 2.5em;
}
.photo {
  float: left;
  margin-top: 10px;
  & + cite {
    height: 100px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 15px;
  }
}
.quote {
  line-height: 1.8em;
  font-style: italic;
  color: $lightbluegrey;
  margin-bottom: 30px;
}
.transparent-section .quote {
  color: #fff;
}
cite {
  display: block;
  font-family: $fancyFont;
  font-size: 0.8em;
  line-height: 1.6;
  text-transform: uppercase;
  font-style: normal;
  color: #b2b7bb;
}
.transparent-section cite {
  color: $bluegrey;
}


/* -- @component STATS -- */
.stats {
  li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    color: #626f78;
    line-height: 1.2em;
    font-weight: bold;
    font-size: 0.9em;
    width: 230px;
    text-align: left;
    font-family: $fancyFont;
    margin-bottom: 20px;
  }
  .stat {
    margin-left: 90px;
    padding-top: 15px;
  }
  .icon {
    float: left;
    padding: 15px;
    border: 2px solid $red;
    border-radius: 200px;
    margin-right: 10px;
  }
}


/*-- @component TIMELINE -- */

$circlesize: 36px;
.timeline {
  @extend %clear;
  list-style: none;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 30px;

  &:after {
    content: "";
    display: block;
    background: #525960;
    width: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto ;
    z-index: -2;
  }

  li {
    @extend %clear;
    @extend %box-sizing;
    width: 50%;
    font-size: 1.1em;
    line-height: 1.5;
    position: relative;
    margin-bottom: 20px;
    text-align: left;

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      background: #1f262e;
      width: $circlesize;
      height: $circlesize;
      margin: 0 auto 15px;
      border-radius: (2 * $circlesize);
      border: 3px solid #525960;
      @extend %box-sizing;
    }

    &:nth-of-type(2n) {
      float: right;
      padding-left: 50px;
      &:before {
        left: - $circlesize/2;
      }
    }
    &:nth-of-type(2n - 1) {
      float: left;
      padding-right: 40px;
      &:before {
        right: - $circlesize/2;
      }
    }
  }
  a {
    display: block;
    margin-top: 15px;
    color: #2f91dc;
    font-weight: bold;
    font-family: $fancyFont;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    opacity: 0.85;
    @include transition(opacity 0.2s);
    &:hover {
      color: #2f91dc;
      opacity: 1;
    }
  }
}
.icon-arrow-right {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icon-arrow-right.png);
  vertical-align: bottom;
  margin-left: 7px;
}



/*-- @component SPONSORSHIP-LEVELS -- */

.sponsorship-heading {
  h1 {
    display: inline-block;
    margin-bottom: 90px;
  }
  .right {
    float: right;
    margin-top: 10px;
  }
  @extend %clear;
}

.sponsorship-levels {
  border-collapse: separate;
  text-align: center;
  thead {
    th {
      border: 2px solid #ebeced;
      border-width: 2px 0 0 2px;
      font-family: $fancyFont;
      font-size: 1.6em;
      padding-bottom: 15px;
      width: 20%;
      &:first-of-type {
        border-radius: 8px 0 0 0;
      }
      &:last-of-type {
        border-radius: 0 8px 0 0;
        border-width: 2px 2px 0 2px;
      }
    }

    .launch {
      box-shadow: inset 0 0 0 4px #fff, inset 0 20px 0 0 #fdd281;
      color: #fdd281;
    }
    .orbit {
      box-shadow: inset 0 0 0 4px #fff, inset 0 20px 0 0 #59a6e2;
      color: #59a6e2;
    }
    .discovery {
      box-shadow: inset 0 0 0 4px #fff, inset 0 20px 0 0 #cacfd2;
      color: #bbbebf;
    }
    .lead {
      box-shadow: inset 0 0 0 4px #fff, inset 0 20px 0 0 #f5755f;
      color: #f25337;
    }

    img {
      display: block;
      margin: -34px auto 10px;
    }
  }
  tbody {
    th {
      padding: 17px 10px;
      border: 2px solid #ebeced;
      border-width: 1px 0 0;
      font-weight: normal;
      vertical-align: top;
      text-align: left;
    }
  }
  th, td {
    min-width: 120px;
    @extend %box-sizing;
  }
  td {
    padding: 17px 10px;
    vertical-align: middle;
    border: 2px solid #ebeced;
    border-width: 1px 0 0 2px;
    font-size: 0.85em;
    line-height: 1.6;
    &:last-of-type {
      border-width: 1px 2px 0 2px;
    }
  }
  tr:last-of-type {
    td {
      border-width: 1px 0 2px 2px;
      &:first-of-type {
        border-radius: 0 0 0 8px;
      }
      &:last-of-type {
        border-width: 1px 2px 2px 2px;
        border-radius: 0 0 8px 0;
      }
    }
  }
  .blank {
    border: none;
  }
  p {
    margin: 10px 0 0;
    font-size: 0.85em;
    line-height: 1.6;
  }
}




/* @group Responsive
----------------------------------------------- */


@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2em;
    margin-top: 20px;
  }
  .sponsorship-heading .right {
    margin-top: 20px;
  }
}

@media screen and (max-width: 950px) {
  .page-nav {
    ul {
      margin: 0 0 0 28px;
    }
    li {
      vertical-align: middle;
    }
    a {
      padding: 16px 10px;
      max-width: 90px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .main-headline {
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
  .counter-wrapper {
    float: none;
    margin: 0 auto;
    width: 390px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {

  .grid-wide, .grid-narrow, .grid-third {
    width: 100%;
  }
  .grid-wide {
    padding-right: 0;
  }
  .white-section .grid-narrow {
    border-top: 1px solid #eee;
  }
  .transparent-section .grid-narrow {
    border-top: 1px solid rgba(#fff, 0.1);
  }
  .attributions {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  footer .social-icons {
    float: none;
    text-align: center;
  }

  .logo {
    margin-bottom: 15px;
  }
  .menu-toggle {
    display: block;
  }
  .page-nav {
    width: 100%;
    margin: 0 -20px;
    ul {
      display: none;
      width: 100%;
      margin-left: 25px;
    }
    li {
      display: block;
      width: 100%;
      text-align: left;
    }
    a {
      padding: 10px 20px;
      max-width: 100%;
      background: rgba(255, 255, 255, 0.07);
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .sponsorship-heading, .sponsorship-levels {
    display: none;
  }
  .white-section {
    .cta {
      margin-top: 20px;
      .button {
        margin: 20px auto 0;
        display: block;
        text-align: center;
        width: 100px;
      }
    }
  }
  .extra-links .grid p {
    margin: 0;
  }

}

@media screen and (max-width: 550px) {
  .page-header .container, .page-footer .container, .main .container {
    width: 100%;
  }
  input.email {
    width: 99%;
  }
  .transparent-section .cta {
    line-height: 1.2;
    font-size: 1.7em;
  }
  .counter-wrapper {
    padding: 10px 10px 9px;
    width: 336px;
  }
  .counter .number {
    font-size: 32px;
    width: 273px;
  }
  .counter-wrapper .legend {
    font-size: 11px;
  }
}
@media screen and (max-width: 480px) {

  h1 {
    font-size: 1.5em;
  }
  h2 {
    text-align: center;
    font-size: 1.5em;
  }
  .page-header {
    padding: 20px 0 20px;
  }
  section {
    padding: 20px 0;
  }
  .logo img {
    width: 85px;
  }
  .page-header .social-icons {
    margin-top: 10px;
  }
  .counter-wrapper {
    width: 100%;
    padding: 15px 19px;
    margin: 0 -19px;
    border-radius: 0;
    margin-bottom: 20px;
  }
  .counter-wrapper .legend {
    font-size: 10px;
  }
  .counter {
    margin: 0 -7px 13px;
  }
  .counter .number {
    font-size: 28px;
    width: 225px;
    line-height: 50px;
  }
  .counter .units {
    width: 36px;
    padding-top: 2px;
    line-height: 48px;
    border-color: #313841;
  }
  #mc-embedded-subscribe {
    margin-left: -79px;
    padding: 12px 7px 11px;
    font-size: 11px;
  }
  #mce-EMAIL {
    padding: 15px 76px 15px 12px;
    font-size: 0.8em;
  }

  .graphic-row {
   margin: 0;
  }
  .graphic-row p {
    font-size: 1em;
  }
  .graphic-row.reg img, .graphic-row.alt img {
    float: none;
    margin: 0 auto 10px;
    display: block;
  }
  .graphic-row .description {
    margin: 0;
  }
  .attributions a {
    display: block;
    margin: 0;
  }

  .timeline {
    &:after {
      margin-left: 30px;
    }
    li {
      width: 92%;
      margin-left: 31px;
      &:nth-of-type(2n) {
        float: none;
      }
      &:nth-of-type(2n - 1) {
        float: none;
        padding-left: 50px;
        padding-right: 0px;
        &:before {
          left: - $circlesize/2;
          right: auto;
        }
      }
    }
  }
  .timeline-button {
    float: left;
  }
}