/* @group CSS Reset
----------------------------------------------- */
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* @group Mixins
----------------------------------------------- */
.page-header .container, .page-footer .container, .main .container, .grid, .grid-half, .grid-third {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page-header .container:before, .page-footer .container:before, .main .container:before, .graphic-row:before, .page-header .container:after, .page-footer .container:after, .main .container:after, .graphic-row:after {
  content: "";
  display: table; }
.page-header .container:after, .page-footer .container:after, .main .container:after, .graphic-row:after {
  clear: both; }

/* @group Variables
----------------------------------------------- */
/*  Layout  */
/*  Theme Colours  */
/*  Typography  */
/* @group Global
----------------------------------------------- */
body {
  margin: 0;
  background: #1d2228; }

/* @group Typography
----------------------------------------------- */
body {
  color: #707b83;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px; }

a {
  color: #f25337;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s; }
  a:hover {
    color: #f8a597;
    text-decoration: none; }
  a img {
    border: none; }

h1, h2, h3, h4 {
  margin: 1em 0;
  font-weight: bold;
  font-family: "brandon-grotesque", sans-serif; }

h1 {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.3em; }

h2 {
  color: #f25337;
  font-size: 1.9em;
  margin: 0 0 0.4em; }

ul, li {
  margin: 0;
  padding: 0; }

p {
  margin: 0.5em 0;
  line-height: 1.8; }

textarea, input, button, .btn, select {
  color: #707b83;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: inherit;
  outline: none; }

/* @group Layout
----------------------------------------------- */
.page-header .container, .page-footer .container, .main .container {
  width: 90%;
  padding: 0 20px;
  max-width: 980px;
  margin: 0 auto;
  position: relative; }

.grid {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-bottom: 1em; }

.grid-narrow {
  width: 30%; }

.grid-wide {
  width: 70%; }

.grid-half {
  width: 48%;
  display: inline-block;
  vertical-align: top; }
  .grid-half:nth-of-type(2n - 1) {
    margin-right: 4%;
    clear: left; }

.grid-third {
  width: 33.33%;
  display: inline-block;
  vertical-align: top; }

/* @group Forms
----------------------------------------------- */
input.email {
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.24), inset 0 2px 0 0 rgba(0, 0, 0, 0.27);
  width: 40%; }

.button {
  padding: 12px 16px;
  border-radius: 50px;
  border: 1px solid #9f4545;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.39), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  background-image: -moz-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: -webkit-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: -o-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: -ms-linear-gradient(top, #ff6f55 0%, #dc4328 100%);
  background-image: linear-gradient(to bottom, #ff6f55 0%, #dc4328 100%);
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }
  .button:hover {
    background-image: -moz-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: -webkit-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: -o-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: -ms-linear-gradient(top, #ff7c64 0%, #de4f35 100%);
    background-image: linear-gradient(to bottom, #ff7c64 0%, #de4f35 100%); }
  .button:active {
    background-image: -moz-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: -webkit-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: -o-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: -ms-linear-gradient(top, #ec6048 0%, #dc4328 100%);
    background-image: linear-gradient(to bottom, #ec6048 0%, #dc4328 100%);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.19); }

#mc-embedded-subscribe-form {
  text-align: center; }

#mc-embedded-subscribe {
  margin-left: -107px; }

#mce-EMAIL {
  padding-right: 115px; }

/* @group Components
----------------------------------------------- */
/*-- @component HEADER -- */
.page-header {
  padding: 50px 0 0; }
  .page-header .logo {
    float: left; }
  .page-header .social-icons {
    margin-top: 22px; }

.page-nav ul {
  float: left;
  margin: 25px 0 0 50px; }
.page-nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9em; }
.page-nav a {
  padding: 25px;
  color: #7d8188;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  .page-nav a.active, .page-nav a:hover {
    color: #fff; }
  .page-nav a.dropdown.active {
    color: #f25337; }

.menu-toggle {
  display: none; }

/*-- @component FOOTER -- */
.page-footer {
  padding: 30px 0 60px; }
  .page-footer .social-icons {
    line-height: 40px; }

.attributions {
  float: left;
  font-size: 0.9em; }
  .attributions a {
    color: #cccccc;
    vertical-align: top;
    line-height: 40px;
    margin-right: 15px; }
    .attributions a:hover {
      color: #fff; }
  .attributions img {
    margin-left: 5px; }

/*-- @component SECTION -- */
section {
  padding: 40px 0; }

.white-section {
  background: #fff; }

.transparent-section {
  color: #fff; }
  .transparent-section p {
    color: #cccccc; }
  .transparent-section a {
    color: #7c868d; }
  .transparent-section .cta {
    margin: 1em 0 0.5em;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif; }

.extra-links p {
  text-align: center;
  color: #fff; }

.graphic-row {
  margin: 30px 0; }
  .graphic-row .description {
    margin: 0 180px; }
  .graphic-row p {
    font-size: 1.1em; }
  .graphic-row.reg img {
    float: left; }
  .graphic-row.reg .description {
    margin-right: 0; }
  .graphic-row.alt img {
    float: right; }
  .graphic-row.alt .description {
    margin-left: 0; }

/* -- @component SOCIAL ICONS -- */
.social-icons {
  float: right; }
  .social-icons a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    -webkit-transition: background-position 0.4s;
    -moz-transition: background-position 0.4s;
    -ms-transition: background-position 0.4s;
    -o-transition: background-position 0.4s;
    transition: background-position 0.4s; }
    .social-icons a:hover {
      background-position: 0 -20px; }
  .social-icons .email {
    background: url(../images/social-email.png); }
  .social-icons .twitter {
    background: url(../images/social-twitter.png); }
  .social-icons .facebook {
    background: url(../images/social-facebook.png); }
  .social-icons .googleplus {
    background: url(../images/social-googleplus.png); }
